.page-not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  padding: 2rem;
  text-align: center;
}
.page-not-found-img {
  margin-bottom: 1rem;
  width: 70%;
}
.heading-250 {
  font-size: 2rem;
  font-weight: bold;
}
.para-80 {
  font-size: 1rem;
  color: white;
  opacity: 0.8;
}
